<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @pass.client.nome %>
</p>

<p>
  <b>Assento:</b>
  <%= @pass.assento %>
</p>

<p>
  <b>Valor:</b>
  <%= @pass.valor %>
</p>

<p>
  <b>Horário do Vôo</b>
  <%= @pass.fly.hora_voo %>
</p>

<%= link_to '[Editar]', edit_pass_path(@pass) %> |
<%= link_to '[Voltar]', passes_path %>
