<h1>Lista de Vôos</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Data</th>
    <th>Origem</th>
    <th>Destino</th>
    <th>Piloto</th>
    <th>Modelo Avião</th>
    <th>Capacidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flies.each do |fly| %>
  <tr>
    <td><%= fly.codigo %></td>
    <td><%= fly.data %></td>
    <td><%= fly.origem %></td>
    <td><%= fly.destino %></td>
    <td><%= fly.pilot.nome %></td>
    <td><%= fly.airplane.modelo %></td>
    <td><%= fly.airplane.capacidade %></td>
    <td><%= link_to '[Mostrar Detalhes]', fly %></td>
    <td><%= link_to '[Editar]', edit_fly_path(fly) %></td>
    <td><%= link_to '[Apagar]', fly, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Vôo]', new_fly_path %>
<a href="index">[Página Inicial]</a>
