<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @fly.codigo %>
</p>

<p>
  <b>Data:</b>
  <%= @fly.data %>
</p>

<p>
  <b>Horário do voo:</b>
  <%= @fly.hora_voo %>
</p>

<p>
  <b>Horário da chegada:</b>
  <%= @fly.hora_chegada %>
</p>

<p>
  <b>Origem:</b>
  <%= @fly.origem %>
</p>

<p>
  <b>Destino:</b>
  <%= @fly.destino %>
</p>


<%= link_to '[Passagens]', fly_passes_path(@fly) %> |
<%= link_to '[Editar]', edit_fly_path(@fly) %> |
<%= link_to '[Voltar]', flies_path %>
