<h1>Lista de Aviões</h1>

<table>
  <tr>
    <th>Modelo</th>
    <th>Capacidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airplanes.each do |airplane| %>
  <tr>
    <td><%= airplane.modelo %></td>
    <td><%= airplane.capacidade %></td>
    <td><%= link_to '[Mostrar Detalhes]', airplane %></td>
    <td><%= link_to '[Editar]', edit_airplane_path(airplane) %></td>
    <td><%= link_to '[Apagar]', airplane, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Avião]', new_airplane_path %>
<a href="index">[Página Inicial]</a>
