<h1>Listing airplanes</h1>

<table>
  <tr>
    <th>Modelo</th>
    <th>Capacidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airplanes.each do |airplane| %>
  <tr>
    <td><%= airplane.modelo %></td>
    <td><%= airplane.capacidade %></td>
    <td><%= link_to 'Show', airplane %></td>
    <td><%= link_to 'Edit', edit_airplane_path(airplane) %></td>
    <td><%= link_to 'Destroy', airplane, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Airplane', new_airplane_path %>
