<h1>Lista de Clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Registro Geral</th>
    <th>Endereço</th>
    <th>Cidade</th>
    <th>Telefone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.nome %></td>
    <td><%= client.rg %></td>
    <td><%= client.endereco %></td>
    <td><%= client.cidade %></td>
    <td><%= client.telefone %></td>
    <td><%= client.email %></td>
    <td><%= link_to '[Mostrar Detalhes]', client %></td>
    <td><%= link_to '[Editar]', edit_client_path(client) %></td>
    <td><%= link_to '[Apagar]', client, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Novo Cliente]', new_client_path %>
<a href="index">[Página Inicial]</a>
