<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @client.nome %>
</p>

<p>
  <b>Registro Geral:</b>
  <%= @client.rg %>
</p>

<p>
  <b>Endereço:</b>
  <%= @client.endereco %>
</p>

<p>
  <b>Cidade:</b>
  <%= @client.cidade %>
</p>

<p>
  <b>Telefone:</b>
  <%= @client.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<%= link_to '[Passagens do Cliente]', client_passes_path(@client) %> |
<%= link_to '[Editar]', edit_client_path(@client) %> |
<%= link_to '[Voltar]', clients_path %>
