<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @client.nome %>
</p>

<p>
  <b>Rg:</b>
  <%= @client.rg %>
</p>

<p>
  <b>Endereco:</b>
  <%= @client.endereco %>
</p>

<p>
  <b>Cidade:</b>
  <%= @client.cidade %>
</p>

<p>
  <b>Telefone:</b>
  <%= @client.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<%= link_to 'Passes', client_passes_path(@client) %> |
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
