<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @pilot.nome %>
</p>

<p>
  <b>Endereço:</b>
  <%= @pilot.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @pilot.telefone %>
</p>

<%= link_to '[Vôos]', pilot_flies_path(@pilot) %> |
<%= link_to '[Editar]', edit_pilot_path(@pilot) %> |
<%= link_to '[Voltar]', pilots_path %>
